<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap/app.php" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./module/*/src</directory>
    </include>
    <report>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <testsuites>
    <testsuite name="Laminas MVC Skeleton Test Suite">
      <directory>./module/*/test</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!--        <log type="coverage-clover" target="../build/logs/clover.xml"/>-->
  </logging>
</phpunit>
